@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 94%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 40% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 20 60% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 210 40% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 200 70% 12%;
    --foreground: 210 15% 95%;
    --card: 180 42% 18%;
    --card-foreground: 210 15% 95%;
    --popover: 180 42% 18%;
    --popover-foreground: 210 15% 95%;
    --primary: 159 30% 70%;
    --primary-foreground: 200 70% 12%;
    --secondary: 180 42% 18%;
    --secondary-foreground: 210 15% 95%;
    --muted: 180 42% 18%;
    --muted-foreground: 159 18% 44%;
    --accent: 159 30% 70%;
    --accent-foreground: 200 70% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 159 18% 28%;
    --input: 180 42% 18%;
    --ring: 159 30% 70%;
    --chart-1: 159 30% 70%;
    --chart-2: 159 18% 44%;
    --chart-3: 180 42% 38%;
    --chart-4: 200 70% 32%;
    --chart-5: 40 30% 70%;
    --sidebar-background: 200 70% 12%;
    --sidebar-foreground: 210 15% 95%;
    --sidebar-primary: 159 30% 70%;
    --sidebar-primary-foreground: 200 70% 12%;
    --sidebar-accent: 180 42% 18%;
    --sidebar-accent-foreground: 210 15% 95%;
    --sidebar-border: 180 42% 18%;
    --sidebar-ring: 159 30% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
